<html>
<head>
	<meta http-equiv = "X-UA-Compatible" content = "IE=edge" />
	<link rel="stylesheet" type="text/css" href="./content/css/index.css">
	<script type="text/javascript" src="./content/scripts/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="./content/scripts/index.js"></script>
</head>
<body>
	<div id="main">
		<div id="top" >
			<div class="menu-container">
				<div class="t-01 fl">
					<div id="menu-bt"></div>
				</div>
				<div class="t-02 fl">
					<div class="t-02 m-logo">
					</div>
					<div class="t-02 m-l1">
						<div class="m-l1-item blog"></div>
						<div class="m-l1-item work"></div>
						<div class="m-l1-item info"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="content">
			
		</div>
	</div>
</body>
</html>