<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>@(model.title?model.title:'伶鼬 ~Sekai的世界~')</title>
	<script type="text/javascript" src="/content/scripts/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/content/css/g.css">
	@model.cssandjs
</head>
<body>
	<div id="mainContainer">
		<div id="main" class="pr">
			@model.content
		</div>
	</div>
	<div id="footer" class="pr tac">
		<div id="footerMenu" class="footer-div">
			<a href="/about">关于</a>
			<a href="/about#announce">声明</a>
			<a href="/about#contact">联系我</a>
			<a href="#">开发者</a>
			<a href="#">留言板</a>
		</div>
		<div class="footer-div">
			Create in Hangzhou, China
		</div>
		<div class="footer-footer pa">
			<a href="http://www.nodejs.org/" alt="Node.js"><img src="/content/images/nodejs-logo.png" title="Node.js"></a>
			<a href="http://www.mongodb.org/" alt="MongoDB"><img src="/content/images/mongodb-logo.png" title="MongoDB"></a>
			<a href="http://www.aliyun.com/" alt="阿里云"><img src="/content/images/aliyun-logo.png" title="阿里云"></a>
		</div>
	</div>
</body>
</html>