<div class="cell">
    <div class="title">
        <div class="part1">Sekai's</div>
        <div class="part2">Secret GardeN</div>
    </div>
    <div class="submit">
        <input type="text" name="keywords" placeholder="你想得到的..." required="" class="keyword-input input-line">
        <button class="submit-bt input-line"></button>
    </div>
    <div class="result-container" style="display:none;">
        <div class="loading">
            <div class="pic">
                <div class="text"></div>
            </div>
            <div class="picground"></div>
        </div>
        <div class="result">
            <table>
                <thead>
                    <tr>
                        <th width="15%">番号</th>
                        <th width="70%">标题</th>
                        <th width="15%">发行时间</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="search-more">Go further...</div>
        </div>
    </div>
</div>
<div class="result-detail">
    <div class="detail">
        <div class="container">
            <div class="title"></div>
            <hr/>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th width="15%"></th>
                            <th width="85%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>番号</th>
                            <td class="code"></td>
                        </tr>
                        <tr>
                            <th>发行时间</th>
                            <td class="publishTime"></td>
                        </tr>
                        <tr>
                            <th>主演</th>
                            <td class="actress"></td>
                        </tr>
                        <tr>
                            <th>标签</th>
                            <td class="tags"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr/>
            <div class="control">
                <button class="btspread">BTSpread</button>
                <button class="torrentkitty">TorrentKitty</button>
                <button class="return">返回</button>
            </div>
        </div>
    </div>
</div>