<div class="cell">
    <div class="title">
        <div class="part1">Sekai's</div>
        <div class="part2">Secret GardeN</div>
    </div>
    <div class="submit">
        <input type="text" name="keywords" placeholder="你想得到的..." required="" class="keyword-input input-line">
        <button class="submit-bt input-line"></button>
    </div>
    <div class="result-container" style="display:none;">
        <div class="loading">
            <div class="pic">
                <div class="text"></div>
            </div>
            <div class="picground"></div>
        </div>
        <div class="result">asfasfasf</div>
    </div>
</div>