<div id="top" >
	<div class="menu-container">
		<div class="t-01 fl">
			<div id="menu-bt"></div>
		</div>
		<div class="t-02 fl">
			<div class="t-02 m-logo">
			</div>
			<div class="t-02 m-l1">
				<div class="m-l1-item blog" href="/blog"></div>
				<div class="m-l1-item work" href="/work"></div>
				<div class="m-l1-item info" href="/about"></div>
			</div>
		</div>
	</div>
</div>
<div id="content">
	<div class="c-01 fl">
	</div>
	<div class="c-02 fl pr">
		<div class="pos-anchor" pos-t="40" pos-l="150">
			<div class="pos-anchor size-title-1 bg-title p1"></div>
			<div class="pos-anchor size-pic-1 bg-pic p1" pos-t="70" pos-l="195"></div>
			<div class="pos-anchor size-pic-1 bg-pic p2" pos-t="180" pos-l="118"></div>
			<div class="pos-anchor size-bt-1 bg-bt 1" pos-t="70" pos-l="272" onclick="javascript:window.location.href='/blog';"></div>
		</div>
		<div class="pos-anchor" pos-t="300" pos-l="540">
			<div class="pos-anchor size-title-1 bg-title p2 white" pos-t="0" pos-l="80"></div>
			<div class="pos-anchor size-pic-1 bg-pic p4" pos-t="150" pos-l="77"></div>
			<div class="pos-anchor size-pic-1 bg-pic p3" pos-t="0" pos-l="0"></div>
			<div class="pos-anchor size-bt-1 bg-bt 1" pos-t="585" pos-l="5" onclick="javascript:window.location.href='/work';"></div>
		</div>
		<div class="pos-anchor" pos-t="710" pos-l="0">
			<div class="pos-anchor size-title-1 bg-title p3"></div>
			<div class="pos-anchor size-pic-3 bg-pic p5" pos-t="130" pos-l="137"></div>
			<div class="pos-anchor size-pic-3 bg-pic p6" pos-t="240" pos-l="30"></div>
			<div class="pos-anchor size-bt-1 bg-bt 1" pos-t="566" pos-l="243" onclick="javascript:window.location.href='/about';"></div>
		</div>
		<div class="pos-anchor" pos-t="1045" pos-l="469">
			<div class="pos-anchor size-title-1 bg-title p4 white" pos-t="0" pos-l="150"></div>
			<div class="pos-anchor size-pic-1 bg-pic p8" pos-t="200" pos-l="148"></div>
			<div class="pos-anchor size-pic-3 bg-pic p7" pos-t="70" pos-l="41"></div>
			<div class="pos-anchor size-bt-1 bg-bt 1" pos-t="455" pos-l="-31"></div>
		</div>
		<div class="pos-anchor" pos-t="1460" pos-l="0">
			<div class="pos-anchor size-title-1 bg-title p5" pos-t="0" pos-l="121"></div>
			<div class="pos-anchor size-pic-1 bg-pic p10" pos-t="131" pos-l="195"></div>
			<div class="pos-anchor size-pic-1 bg-pic p9" pos-t="246" pos-l="118"></div>
			<div class="pos-anchor size-bt-1 bg-bt 1" pos-t="245" pos-l="47"></div>
		</div>
		<div class="pos-anchor" pos-t="1890" pos-l="445">
			<div class="pos-anchor size-title-1 bg-title p6 white" pos-t="0" pos-l="270"></div>
			<div class="pos-anchor size-pic-2 bg-pic p11" pos-t="128"></div>
			<div class="pos-anchor size-bt-1 bg-bt 1" pos-t="490"></div>
		</div>
	</div>
	<div class="c-03 fl">
	</div>
	<div class="cb"></div>
	<div class="c-04">
		<div class="c-04-01">
			<a href="#">&gt;&gt;&nbsp;进入留言板</a>
		</div>
		<div class="c-04-02"></div>
		<div class="c-04-03">
		</div>
	</div>
</div>