#footer
{
    display: none;
}
body
{
    background: none;
}
html,
body,
#mainContainer,
#main
{
    height: 100%;
    width: 100%;
}
#main
{
    display: table !important;
}
#main.bg1
{
    background: white url('../../images/av/bg1.jpg') center;
}
#main.bg2
{
    background: white url('../../images/av/bg2.jpg') center;
}
.cell
{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}
.input-line
{
    height: 34px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.keyword-input
{
    width: 250px;
    margin-right: 5px;
    padding: 0 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
.keyword-input:focus
{
    border-color: #66E97C;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102, 233, 148, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102, 233, 148, 0.6);
}
.submit-bt
{
    width: 100px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #373737;
    color: #fff;
    background: -webkit-linear-gradient(top,#797979,#121212);
    background: -o-linear-gradient(top,#797979,#121212);
    cursor: pointer;
}
.submit-bt:hover
{
    background: -webkit-linear-gradient(top,#969696,#252525);
    background: -o-linear-gradient(top,#969696,#252525);
}
.title
{
    font-family: 'alice_in_wonderlandregular';
    padding: 47px 0 24px 0;
    color: #fff;
}
.title .part1
{
    font-size: 142px;
    line-height: 84px;
}
.title .part2
{
    font-size: 80px;
}
@font-face {
    font-family: 'alice_in_wonderlandregular';
    src: url('alice_in_wonderland_3-webfont.eot');
    src: url('alice_in_wonderland_3-webfont.eot?#iefix') format('embedded-opentype'),
         url('alice_in_wonderland_3-webfont.woff2') format('woff2'),
         url('alice_in_wonderland_3-webfont.woff') format('woff'),
         url('alice_in_wonderland_3-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}