<div id="top">
	<div class="menu-container">
		<div class="top-logo">
			<img src="/content/images/list-top-menu.png" usemap="#map">
			<map name="map" id="map">
				<area shape="rect" coords="0,0,50,50" href="/">
				<area shape="rect" coords="50,0,100,50" href="/blog">
				<area shape="rect" coords="100,0,150,50" href="/work">
				<area shape="rect" coords="150,0,200,50" href="/about">
			</map>
		</div>	
	</div>
</div>
<div id="content">
	<div class="c-02 pr">
		<div class="c-00-02">
			<div class="c-00-02-path"><a href="/work">我的</a>&nbsp;&gt;&nbsp;列表</div>
			<div class="c-00-02-title tar">我做的小玩意儿们</div>
			<div class="c-00-02-author tar">Sekai&nbsp;@@&nbsp;Hangzhou</div>
		</div>
		<div>
			<a href="https://github.com/sekaiamber" target="_blank" title="github"><img src="/content/images/work/github.png"></a>
		</div>
		<div>
			<a href="#" title="画廊"><img src="/content/images/work/paint.png"></a>
		</div>
		<div>
			<a href="#" title="照相馆"><img src="/content/images/work/photo.png"></a>
		</div>
		<div class="tac">
			<h1>尝鲜</h1>
			<div>这部分内容可能包含：</div>
			<div>1. 尚未完成（坑）的作品。</div>
			<div>2. 不保证各类兼容性作品。</div>
			<div>3. 可能被残忍抛弃的作品。</div>
			<div>未满18岁的程序员可以观看。</div>
		</div>
		<div>
			<a href="/sekai/markdownEditor" target="_blank" title="Markdown Editor"><img src="/content/images/work/markdown.png"></a>
		</div>
	</div>
</div>